<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img
                src="https://img1.daumcdn.net/thumb/R1280x0.fpng/?fname=http://t1.daumcdn.net/brunch/service/user/b9Da/image/_NkgndPTNa-cs4kX_EK1m2VxMGA.png"
                width="112"
                height="28"
            />
        </a>

        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a href="/login" class="navbar-item"> 로그인 </a>
            <a href="/register" class="navbar-item"> 회원가입 </a>
        </div>
    </div>
</nav>
<!-- <div class="logo-div" style="height: 70px"></div> -->
<nav class="main-nav">
    <ul class="main-nav-menu-container">
        <li><a href="" class="main-nav-menu navbar-item">반지</a></li>
        <li><a href="" class="main-nav-menu navbar-item">목걸이</a></li>
        <li><a href="" class="main-nav-menu navbar-item">귀걸이</a></li>
        <li><a href="" class="main-nav-menu navbar-item">팔찌</a></li>
        <li><a href="" class="main-nav-menu navbar-item">시계</a></li>
    </ul>
    <ul class="main-nav-recommend-menu-container">
        <li><a href="" class="main-nav-menu navbar-item">남성관</a></li>
        <li><a href="" class="main-nav-menu navbar-item">여성관</a></li>
        <div class="navbar-item has-dropdown is-hoverable">
            <li>
                <a href="" class="main-nav-menu navbar-link is-arrowless"
                    >세대별</a
                >
            </li>
            <div class="navbar-dropdown">
                <a class="navbar-item">10대</a>
                <a class="navbar-item">20대</a>
                <a class="navbar-item">30대</a>
            </div>
        </div>
    </ul>
</nav>
