* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}

input,
button {
    outline: none;
    box-shadow: none;
    border: none;
    background: none;
}

.navbar {
    margin-left: 12vh;
    margin-right: 12vh;
}

.nav-icon {
    padding-right: 0.5vw;
}
.logo-link {
    padding: 0;
}

.logo-image {
    display: inline;
    background: url('/usually-logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 11vw;
    height: 4vw;
}
/* 세로 가운데 정렬용 */
.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

/* top-navbar */
.navbar-end {
    justify-content: flex-end;
    margin-left: auto;
}

.navbar-burger {
    justify-content: flex-end;
    margin-left: auto;
}

.navbar-item {
    font-size: 1rem;
}

.navbar-item:hover {
    color: #ffae96 !important;
}

.navbar-end a {
    text-align: right;
}

/* sticky-nav메뉴 css */
.main-nav {
    display: flex;
    height: 60px;
    border-bottom: 1px solid black;
}

.stickyToTop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
    width: 100%;
    background-color: white;
}

.main-nav-menu-container {
    display: flex;
    width: 60%;
    margin-left: 10vh;
}

.main-nav-menu {
    padding: 15px 3vw 15px 3vw;
    font-size: 1.2rem;
    font-weight: bold;
}

.main-nav-recommend-menu-container {
    display: flex;
    margin-left: 3vw;
}

/* control-buttons  */
.control-buttons {
    overflow: hidden;
    position: fixed;
    z-index: 300;
    right: 31px;
    bottom: 0;
    width: 190px;
    height: 58px;
    opacity: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.control-button-contaier {
    float: left;
    width: 60px;
    margin-right: 3px;
    height: 100%;
}
.control-button {
    display: inline-block;
    position: relative;
    width: 58px;
    height: 100%;
    background-color: #ffc0cb;
    border-radius: 50px;
}

.control-button-font {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
}
