.navbar-end {
    justify-content: flex-end;
    margin-left: auto;
}

.navbar-burger {
    justify-content: flex-end;
    margin-left: auto;
}
.navbar-item:hover {
    color: #ffae96 !important;
}

.navbar-end a {
    text-align: right;
}
