<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img
        src="https://bulma.io/images/bulma-logo.png"
        width="112"
        height="28"
      />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a href="/login" class="navbar-item"> 로그인 </a>

      <a href="/register" class="navbar-item"> 회원가입 </a>

      <a href="/my-page" class="navbar-item"> 마이페이지 </a>
    </div>
  </div>
</nav>
<div class="logo-div" style="height: 70px"></div>
<nav class="main-nav">
  <ul class="main-nav-menu-container">
    <li><a href="" class="main-nav-manu navbar-item">반지</a></li>
    <li><a href="" class="main-nav-manu navbar-item">목걸이</a></li>
    <li><a href="" class="main-nav-manu navbar-item">귀걸이</a></li>
    <li><a href="" class="main-nav-manu navbar-item">팔찌</a></li>
    <li><a href="" class="main-nav-manu navbar-item">시계</a></li>
    <li>
      <a href="#cart" aria-current="page" class="navbar-item">
        <span class="icon">
          <i class="fas fa-cart-shopping"></i>
        </span>
      </a>
    </li>
  </ul>
</nav>