<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item logo-link" href="/">
            <div class="logo-image"></div>
        </a>

        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end"></div>
    </div>
</nav>
<nav class="main-nav">
    <ul class="main-nav-menu-container">
        <li>
            <a href="/product/name/ring" class="main-nav-menu navbar-item"
                >반지</a
            >
        </li>
        <li>
            <a href="/product/name/necklace" class="main-nav-menu navbar-item"
                >목걸이</a
            >
        </li>
        <li>
            <a href="/product/name/earring" class="main-nav-menu navbar-item"
                >귀걸이</a
            >
        </li>
        <li>
            <a href="/product/name/bracelet" class="main-nav-menu navbar-item"
                >팔찌</a
            >
        </li>
        <li>
            <a href="/product/name/watch" class="main-nav-menu navbar-item"
                >시계</a
            >
        </li>
    </ul>
    <ul class="main-nav-recommend-menu-container">
        <li>
            <a href="/product/gender/man" class="main-nav-menu navbar-item"
                >남성관</a
            >
        </li>
        <li>
            <a href="/product/gender/woman" class="main-nav-menu navbar-item"
                >여성관</a
            >
        </li>
        <div class="navbar-item has-dropdown is-hoverable">
            <li>
                <a href="" class="main-nav-menu navbar-link is-arrowless"
                    >연령별</a
                >
            </li>
            <div class="navbar-dropdown">
                <a href="/product/recommendAge/10" class="navbar-item">10대</a>
                <a href="/product/recommendAge/20" class="navbar-item">20대</a>
                <a href="/product/recommendAge/30" class="navbar-item">30대</a>
            </div>
        </div>
    </ul>
    <ul class="control-buttons">
        <li class="control-button-contaier">
            <a href="" class="control-button nav-user-button"
                ><i class="fas fa-user control-button-font"></i
            ></a>
        </li>
        <li class="control-button-contaier">
            <a href="" class="control-button nav-cart-button"
                ><i class="fa-solid fa-cart-shopping control-button-font"></i
            ></a>
        </li>
        <li class="control-button-contaier">
            <a href="" class="control-button top-button"
                ><i class="fas fa-arrow-up control-button-font"></i
            ></a>
        </li>
    </ul>
</nav>
