<aside class="menu">
    <p class="menu-label">관리자 메뉴</p>
    <ul class="menu-list">
        <a href="/admin-main">관리자 홈</a>
        <div class="admin-menu-category">
            <li>
                <span>회원 관리</span>
                <ul>
                    <li><a href="/admin-user">유저 관리</a></li>
                    <li><a href="/admin-order">주문 관리</a></li>
                </ul>
            </li>
        </div>
        <div class="admin-menu-category">
            <li>
                <span>제품 관리</span>
                <ul>
                    <li><a href="/admin-product">제품 관리</a></li>
                    <li><a href="/admin-category">카테고리 관리</a></li>
                </ul>
            </li>
        </div>
    </ul>
</aside>
