<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>유주얼리</title>
        <!-- 아이콘 -->
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/elice-rabbit-favicon.png"
        />
        <!-- bulma css 관련 -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <!-- 폰트 어썸: 아이콘 -->
        <script
            defer
            src="https://kit.fontawesome.com/7630448495.js"
            crossorigin="anonymous"
        ></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="product-list.css" />
        <script src="product-list.js" type="module" defer></script>
        <!-- navbar, footer 활용을 위한 css, js -->
        <link rel="stylesheet" href="../../../nav/nav.css" />
        <link rel="stylesheet" href="../../../footer/footer.css" />
        <script src="../../../nav/nav.js"></script>
        <!-- navbar, footer 활용을 위한 jquery -->
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>

    <body>
        <!--Navigation bar-->
        <div id="nav-placeholder"></div>

        <script>
            $(document).ready(function () {
                $('#nav-placeholder').load('../../../nav/nav.html', () => {
                    navFunc();
                });
            });
        </script>

        <!-- 제품 목록 -->
        <section class="section">
            <div class="container" id="product-item-container">
                <!-- api 요청 후 만들어진 제품들 카드 요소가 삽입되는 곳 -->
            </div>
        </section>

        <!--footer-->
        <div id="footer-placeholder"></div>

        <script>
            $(function () {
                $('#footer-placeholder').load('../../../footer/footer.html');
            });
        </script>
    </body>
</html>
