<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>쇼핑-데모</title>
        <!-- 아이콘 -->
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/elice-rabbit-favicon.png"
        />
        <!-- bulma css 관련 -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <!-- 폰트 어썸: 아이콘 -->
        <script
            defer
            src="https://kit.fontawesome.com/7630448495.js"
            crossorigin="anonymous"
        ></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="modify.css" />
        <script src="modify.js" type="module" defer></script>
    </head>
    <body>
        <!-- 헤더 -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="container mt-3">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img src="/elice-rabbit.png" width="30" height="30" />
                        <span class="has-text-link">쇼핑-데모</span>
                    </a>
                    <a
                        role="button"
                        class="navbar-burger"
                        aria-label="menu"
                        aria-expanded="false"
                        data-target="navbarBasicExample"
                    >
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div
                        class="navbar-end breadcrumb my-auto"
                        aria-label="breadcrumbs"
                    >
                        <ul id="navbar">
                            <li><a href="/register">회원가입</a></li>
                            <li>
                                <a href="/cart" aria-current="page">
                                    <span class="icon">
                                        <i class="fas fa-cart-shopping"></i>
                                    </span>
                                    <span>카트</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <h1 class="modify-greeting">회원정보 수정</h1>
        <div class="modify-form-container">
            <form
                class="modify-form-box"
                action="/api/userModify"
                method="POST"
                id="modifyForm"
            >
                <div class="field">
                    <label class="label" for="fullNameInput">이름</label>
                    <p class="control has-icons-left has-icons-right">
                        <input
                            class="input"
                            type="text"
                            id="full-name-modify"
                            value="이름"
                            readonly
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-x"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <label class="label" for="email-modify">이메일 수정</label>
                    <p class="control has-icons-left">
                        <input
                            class="input"
                            type="email"
                            id="email-modify"
                            placeholder="기존이메일"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                </div>

                <div class="field">
                    <label class="label" for="password-modify"
                        >비밀번호 수정</label
                    >
                    <p class="control has-icons-left">
                        <input
                            class="input"
                            type="text"
                            id="password-modify"
                            placeholder="*****"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>

                <div class="modify-button-container">
                    <button
                        class="button is-danger is-large"
                        id="modify-button"
                        type="submit"
                    >
                        수정하기
                    </button>
                    <button
                        class="button is-danger is-large"
                        id="delete-button"
                        type="submit"
                    >
                        회원 탈퇴
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
