<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>쇼핑-데모</title>
        <!-- 아이콘 -->
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/elice-rabbit-favicon.png"
        />
        <!-- bulma css 관련 -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <!-- 폰트 어썸: 아이콘 -->
        <script
            defer
            src="https://kit.fontawesome.com/7630448495.js"
            crossorigin="anonymous"
        ></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="../../product-detail/product-detail.css" />
        <script
            src="../../product-detail/product-detail.js"
            type="module"
            defer
        ></script>
        <!-- navbar, footer 활용을 위한 css, js -->
        <link rel="stylesheet" href="../../nav/nav.css" />
        <link rel="stylesheet" href="../../footer/footer.css" />
        <script src="../../nav/nav.js"></script>
        <!-- navbar, footer 활용을 위한 jquery -->
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>

    <body>
        <!--Navigation bar-->
        <div id="nav-placeholder"></div>

        <script>
            $(document).ready(function () {
                $('#nav-placeholder').load('../../nav/nav.html', () => {
                    navFunc();
                });
            });
        </script>

        <!-- 제품 상세 설명 -->
        <section class="section">
            <div class="container">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <figure class="image">
                                <img id="image" src="" alt="The Loop" />
                            </figure>
                        </div>
                    </div>
                    <div class="tile is-parent is-vertical">
                        <div class="tile is-child">
                            <div class="tabs">
                                <ul>
                                    <li id="madeBy"></li>
                                </ul>
                            </div>
                            <div class="content">
                                <h1
                                    class="subtitle is-family-monospace"
                                    id="name"
                                ></h1>
                                <p id="description"></p>
                                <h1 id="price" style="color: #f2bbc5"></h1>
                            </div>
                        </div>
                        <div class="tile is-child">
                            <button
                                class="button is-danger"
                                id="inventory-button"
                            >
                                장바구니 추가하기
                            </button>
                            <button
                                class="button is-danger"
                                id="purchase-button"
                            >
                                바로 구매하기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="review-container">
                <div class="review-header">
                    <div class="subtitle is-4">REVIEW</div>
                    <div class="review-button">
                        <button class="button is-danger" id="review-write-button">상품 리뷰 작성하기</button>
                    </div>
                </div>
                <div class="review-body" id="review-body">
                    <!-- api 요청 후 리뷰 요소가 삽입되는 곳 -->
                    <!-- <div class="review" id="review-1">
                        <div class="review-content">귀걸이랑 세트로 샀는데 반짝반짝 예쁘네요 :) 사진을 못 찍었는데… ㅠㅠ 검은 목폴라니트 위에 하니까 딱 시선집중 포인트되고 좋았어요!</div>
                        <div class="review-author">sns*202</div>
                    </div>
                    <div class="review" id="review-1">
                        <div class="review-content">귀걸이랑 셋트로 구매했는데 너무 이뻐요^^</div>
                        <div class="review-author">sns*202</div>
                    </div>
                    <div class="review" id="review-1">
                        <div class="review-content">친구 생일선물로 구매했는데 너무너무 예쁘네요! 펜던트 크기가 딱 예쁠 정도로 작지도 크지도 않아서 좋은 것 같아요! 겨울에 태어난 친구에게 선물로 주기에 딱인것 같아요!! 다음에도 또 구매하고싶어요🤍</div>
                        <div class="review-author">sns*202</div>
                    </div>
                    <div class="review" id="review-1">
                        <div class="review-content">배송 빠르게 왔습니다!
                            영롱하다던 후기가 많았는데 정말 반짝반짝 빛나요ㅋㅋㅋ 대신 알이 조금 동그랗고 작다보니 살짝 옆으로 돌거나 하긴 하는데 쓰다보면 길이 들겠죠ㅎㅎ</div>
                        <div class="review-author">sns*202</div>
                    </div>
                    <div class="review" id="review-1">
                        <div class="review-content">귀걸이랑 세트로 구매했어요 예뻐요~</div>
                        <div class="review-author">sns*202</div>
                    </div> -->
                </div>
                <div class="review-footer">
                    <div class="page-numbers" id="page-numbers">
                        <!-- <p class="page-number">1</p>
                        <p class="page-number">2</p>
                        <p class="page-number">3</p> -->
                    </div>
                </div>
            </div>
        </section>

        <!--footer-->
        <div id="footer-placeholder"></div>

        <script>
            $(function () {
                $('#footer-placeholder').load('../../footer/footer.html');
            });
        </script>
    </body>
</html>
