<aside class="menu">
    <p class="menu-label">MY PAGE</p>
    <ul class="menu-list">
        <a href="/my-page">마이페이지 홈</a>
        <div class="my-page-menu-category">
            <li>
                <span>회원 정보</span>
                <ul>
                    <li><a href="/modify">회원정보 수정</a></li>
                </ul>
            </li>
        </div>
        <div class="my-page-menu-category">
            <li>
                <span>구매 정보</span>
                <ul>
                    <li><a href="/cart">내 장바구니</a></li>
                    <li><a href="/purchase-history">구매 내역</a></li>
                    <li><a href="/order-history">주문내역 상세</a></li>
                </ul>
            </li>
        </div>
    </ul>
</aside>
