<aside class="menu">
    <p class="menu-label">MY PAGE</p>
    <ul class="menu-list">
        <a href="/my-page">마이페이지 홈</a>
        <li>
            <a class="is-hoverable">회원 정보</a>
            <ul>
                <li><a href="/modify">회원정보 수정</a></li>
            </ul>
        </li>
        <li>
            <a class="is-hoverable">구매정보</a>
            <ul>
                <li><a href="/cart">내 장바구니</a></li>
                <li><a href="/purchase-history">구매 내역</a></li>
                <li><a href="/order-history">주문내역 상세</a></li>
            </ul>
        </li>
    </ul>
</aside>
