<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>회원가입</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="register.css" />
    <script src="register.js" type="module" defer></script>
    <!-- navbar, footer 활용을 위한 css, js -->
    <link rel="stylesheet" href="../nav/nav.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <script src="../nav/nav.js"></script>
    <!-- navbar, footer 활용을 위한 jquery -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <!--Navigation bar-->
    <div id="nav-placeholder"></div>
    <script>
      $(document).ready(function() {
        $('#nav-placeholder').load("../nav/nav.html", () => {
          navFunc()
        });
      });
    </script>
    <!-- 회원가입 폼(Form) -->
    <div class="register-greeting-container">
      <h1 class="register-greeting">회원가입</h1>
    </div>
    <div class="register-user-form-container">
      <form class="register-user-form-box" id="registerUserForm">
        <div class="field">
          <label class="label" for="fullNameInput">이름</label>
          <p class="control has-icons-left">
            <input class="input"
              id="fullNameInput"
              type="text"
              placeholder="유재석"
              autocomplete="on">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        
        <div class="field">
          <label class="label" for="emailInput">이메일</label>
          <p class="control has-icons-left">
            <input 
              class="input"
              id="emailInput"
              type="email"
              placeholder="abc@example.com"
              autocomplete="on">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <label class="label" for="passwordInput">비밀번호</label>
          <p class="control has-icons-left">
            <input
              class="input"
              id="passwordInput"
              type="password"
              placeholder="********"
              autocomplete="off"/>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="field mb-5">
          <label class="label" for="passwordConfirmInput">비밀번호 확인</label>
          <p class="control has-icons-left">
            <input
              class="input"
              id="passwordConfirmInput"
              type="password"
              placeholder="********"
              autocomplete="off"/>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <label class ="label" for="gender">성별</label>
            <div class="genderRadio">
                <input type="radio" name="gender" id="male" value="male" checked>
                남자
              </label>
                <input type="radio" name="gender" id="female" value="female">
                여자
              </label>
            </div>
        </div>
        <div class="register-submit-button-container">
          <button class="button is-danger is-large" id="submitButton" type="submit">
            가입하기
          </button>
        </div>
      </form>
    </div>
    <!--footer-->
    <div id="footer-placeholder"></div>

    <script>
      $(function () {
        $("#footer-placeholder").load("../footer/footer.html");
      });
    </script>
  </body>
</html>
