.order-history-content-container {
    display: flex;
    height: 80vh;
    width: 150vh;
    margin-top: 5vh;
    margin-left: 5vh;
}

#my-page-nav-container {
    width: 20%;
    margin-top: 5vh;
    margin-left: 5vh;
}

.order-history-container {
    margin-left: 10%;
    width: 100%;
}

.order-history-container .order-history-info {
    margin-bottom: 20px;
}

.order-history-container .table-container tbody tr {
    height: 10vh;
}
.order-history-container .table-container thead tr th {
    color: #ffae96;
}

.order-history-container .table-container .dropdown-item {
    display: flex;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}
