/* 이미지 슬라이더 구현부분 */
.slider-container {
    position: relative;
    height: 30vw;
}
  
.slider-container:hover {
    cursor: pointer;
}

.slider {
    overflow: hidden;
    width: 302vw;
}

.slider-image {
    width: 100vw;
    float: left;

}

.slider-image img {
    width: 100vw;
    height: 30vw;
}

.slider-prev-button {
    position: absolute;
    width: 3vw;
    height: 3vw;
    left: 5%;
    top: 13vw;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider-next-button {
    position: absolute;
    width: 3vw;
    height: 3vw;
    right: 5%;
    top: 13vw;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider-button i {
    font-size: 3em;
}

.slider-button:hover {
    color: gray;
}

.slider-number-button-list {
    position: absolute;
    width: 100%;
    height: 0;
    text-align: center;
    top: 93%;
    z-index: 10;
}

.slider-number-button {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    justify-content: center;
    width: 3vw;
    height: 0.5vw;
    z-index: 10;
    cursor: pointer;
    background-color: gray;
}
  
/* main 시작 */
.main-division {
    position: relative;
    margin: 5vw 0;
    border-top: 1px solid gray;
}

.main-title-container {
    transform: translateY(-50%);
    left: 42.5vw;
    position: absolute;
    display: inline-block;
    width: 15vw;
    height: 5vw;
    border: 1px solid gray;
    background: white;
    text-align: center;
}

.main-title {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.main-title-border {
    transform: translateY(-40%);
    left: 43vw;
    position: absolute;
    display: inline-block;
    width: 15vw;
    height: 5vw;
    border: 1px solid gray;
    background: white;
}

.main-content {
    margin:  5vw 10vw 0;
    height : 35vw;
    border: 1px solid black;
}

/* main 좌측 nav메뉴 */
.main-navmenu-container {
    position: relative;
    float: left;
    width: 15%;
    height: 100%;
}

.main-navmenu-list {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3vw;
    top: 50%;
    transform: translateY(-50%);
}

.main-navmenu {
    font-size: 2rem;
    padding-top: 2vw;
}

.main-navmenu-first{
    padding-top: 0;
}

.main-navmenu-clicked a {
    color: #ffae96 !important;
    text-decoration: underline;
}

.main-images-container {
    float: left;
    height: 100%;
    width: 85%;
}
.main-image-container {
    float: left;
    height: 100%;
    width: 33.3%;
    padding: 3vw 1vw 0;
    border-left: 1px solid black;
}

.main-product-name {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.main-product-price {
    text-align: center;
    font-size: 1rem;
}