<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>유주얼리</title>
		<!-- 아이콘 -->
		<link
		rel="icon"
		type="image/png"
		sizes="16x16"
		href="/elice-rabbit-favicon.png"
		/>
		<!-- bulma css -->
		<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
		/>
		<!-- 폰트 어썸: 아이콘 -->
		<script
		defer
		src="https://kit.fontawesome.com/7630448495.js"
		crossorigin="anonymous"
		></script>
		<!-- 커스텀 css, js -->
		<link rel="stylesheet" href="home.css" />
		<script src="home.js" type="module" defer></script>
		<script src="carousel.js" type="module" defer></script>
		<!-- navbar, footer 활용을 위한 css, js -->
		<link rel="stylesheet" href="../nav/nav.css">
		<link rel="stylesheet" href="../footer/footer.css">
		<script src="../nav/nav.js"></script>
		<!-- navbar, footer 활용을 위한 jquery -->
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	</head>
	<body>
		<!--Navigation bar-->
		<div id="nav-placeholder"></div>

		<script>
		$(document).ready(function() {
			$('#nav-placeholder').load("../nav/nav.html", () => {
			navFunc()
			});
		});
		</script>
		<!-- image slider -->
		<div class="slider-container">
		<!-- 좌우 버튼 -->
		<button class="slider-button slider-prev-button"><i class="fas fa-chevron-left"></i></button>
		<button class="slider-button slider-next-button"><i class="fas fa-chevron-right"></i></button>
		<!-- 아래 이미지 선택 버튼 -->
		<div class="slider-number-button-list">
			<button class="slider-number-button"></button>
			<button class="slider-number-button"></button>
			<button class="slider-number-button"></button>
		</div>
		<div class="slider">
			<div class="slider-image">
				<img src="https://shopping13.s3.ap-northeast-2.amazonaws.com/banner003.jpg" alt="" />
			</div>
			<div class="slider-image">
				<img src="https://shopping13.s3.ap-northeast-2.amazonaws.com/banner001.jpg" alt="" />
			</div>
			<div class="slider-image">
				<img src="https://shopping13.s3.ap-northeast-2.amazonaws.com/banner002.jpg" alt="" />
			</div>
			<div class="slider-image">
				<img src="https://shopping13.s3.ap-northeast-2.amazonaws.com/banner003.jpg" alt="" />
			</div>
			<div class="slider-image">
				<img src="https://shopping13.s3.ap-northeast-2.amazonaws.com/banner001.jpg" alt="" />
			</div>
		</div>
		</div>
		<!-- main division -->
		<div class="main-division">
		<div class="main-title-border"></div>
		<div class="main-title-container">
			<div class="main-title">종류별 상품</div>
		</div>
		</div>
		<!-- Main-Trand  -->
		<div class="main-content">
			<div class="main-navmenu-container">
				<ul class="main-navmenu-list">
					<li><h3 class="main-navmenu-title my-auto">Category</h3></li>
					<li class="main-navmenu main-navmenu-first"><a href="" class="main-navmenu-clicked main-navmenu-category" name = "ring">반지</a></li>
					<li class="main-navmenu"><a href="" class="main-navmenu-category" name = "necklace">목걸이</a></li>
					<li class="main-navmenu"><a href="" class="main-navmenu-category" name = "earring">귀걸이</a></li>
					<li class="main-navmenu"><a href="" class="main-navmenu-category" name = "bracelet">팔찌</a></li>
					<li class="main-navmenu"><a href="" class="main-navmenu-category" name = "watch">시계</a></li>
				</ul>
			</div>
			<button class="left-button"></button>
			<button class="right-button"></button>
			<div class="main-products-slide-container">
				<div class="main-products-container main-category">
					<!-- 여기에 상품 정보가 삽입됩니다. -->
				</div>
			</div>
		</div>
		<!-- main division -->
		<div class="main-division">
			<div class="main-title-border"></div>
			<div class="main-title-container">
				<div class="main-title">연령별 상품</div>
			</div>
		</div>
		<!-- Main-byAge  -->
		<div class="main-content">
			<div class="main-navmenu-container ">
				<ul class="main-navmenu-list ">
				<li><h3 class="main-navmenu-title my-auto">연령별</h3></li>
				<li class="main-navmenu main-navmenu-first"><a href="" class="main-navmenu-age main-navmenu-clicked" name="10">10대</a></li>
				<li class="main-navmenu"><a href="" class="main-navmenu-age" name="20">20대</a></li>
				<li class="main-navmenu"><a href="" class="main-navmenu-age" name="30">30대</a></li>
				</ul>
			</div>
			<button class="bottom-left-button"></button>
			<button class="bottom-right-button"></button>
			<div class="main-bottom-products-slide-container">
				<div class="main-bottom-products-container main-age">
					<!-- 여기에 상품 정보가 삽입됩니다. -->
				</div>
			</div>
		</div>
		<!--footer-->

		<div id="footer-placeholder"></div>
		<script>
		$(function () {
			$("#footer-placeholder").load("../footer/footer.html");
		});
		</script>
	</body>
</html>
