div {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

/* 이미지 슬라이더 구현부분 */
.slider-container {
    position: relative;
    height: 30vw;
}
  
.slider-container:hover {
    cursor: pointer;
}

.slider {
    overflow: hidden;
    width: 302vw;
}

.slider-image {
    width: 100vw;
    float: left;

}

.slider-image img {
    width: 100vw;
    height: 30vw;
}

.slider-prev-button {
    position: absolute;
    width: 3vw;
    height: 3vw;
    left: 5%;
    top: 13vw;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider-next-button {
    position: absolute;
    width: 3vw;
    height: 3vw;
    right: 5%;
    top: 13vw;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider-button i {
    font-size: 3em;
    color: white;
}

.slider-button i:hover {
    color: #ffae96;
}

.slider-number-button-list {
    position: absolute;
    width: 100%;
    height: 0;
    text-align: center;
    top: 93%;
    z-index: 10;
}

.slider-number-button {
    margin: 0.5vw;
    justify-content: center;
    width: 3vw;
    height: 0.5vw;
    z-index: 10;
    cursor: pointer;
    background-color: white;
}
  
/* main 시작 */
.main-division {
    position: relative;
    margin: 5vw 0;
    border-top: 1px solid gray;
}

.main-title-container {
    transform: translateY(-50%);
    left: 36vw;
    position: absolute;
    display: inline-block;
    width: 26vw;
    height: 5vw;
    border: 1px solid gray;
    background: white;
    text-align: center;
}

.main-title {
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.main-title-border {
    transform: translateY(-40%);
    left: 36.5vw;
    position: absolute;
    display: inline-block;
    width: 26vw;
    height: 5vw;
    border: 1px solid gray;
    background: white;
}

.main-content {
    margin:  5vw 10vw 0;
    height : 30vw;
}

/* main nav메뉴 */
.main-navmenu-container {
    position: relative;
    float: left;
    width: 18%;
    height: 100%;
}

.main-navmenu-list {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: 50%;
    transform: translateY(-50%);
}

.main-navmenu-list-right {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    top: 50%;
    transform: translateY(-50%);
}

.main-navmenu-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.main-navmenu {
    font-size: 1.5rem;
    padding-top: 2vw;
}

.main-navmenu-clicked{
    color: #ffae96 !important;
    text-decoration: underline;
}

.main-products-container {
    float: left;
    height: 100%;
    width: 82%;
}

.main-product-container {
    float: left;
    height: 100%;
    width: 33.3%;
    padding: 3vw 1vw 0;
}

.main-product-image-container{
    position: relative;
    overflow: hidden;
    width: 19.5vw;
    height: 70%;
}

.main-product-image {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out 0s;
}
.main-product-image:hover {
    transform: scale(1.05);
}

.main-product-name {
    margin-top: 1vw;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

.main-product-price {
    text-align: center;
    font-size: 0.9rem;
}