<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>유주얼리</title>
        <!-- 아이콘 -->
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/elice-rabbit-favicon.png"
        />
        <!-- bulma css -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <!-- 폰트 어썸: 아이콘 -->
        <script
            defer
            src="https://kit.fontawesome.com/7630448495.js"
            crossorigin="anonymous"
        ></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="my-page.css" />
        <script src="my-page.js" type="module" defer></script>
        <script src="../my-page-nav/my-page-nav.js"></script>
        <!-- navbar, footer 활용을 위한 css, js -->
        <link rel="stylesheet" href="../nav/nav.css">
        <link rel="stylesheet" href="../footer/footer.css">
        <link rel="stylesheet" href="../my-page-nav/my-page-nav.css">
        <script src="../nav/nav.js"></script>
        <!-- navbar, footer 활용을 위한 jquery -->
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
      <!--Navigation bar-->
      <div id="nav-placeholder"></div>

      <script>
        $(document).ready(function() {
          $('#nav-placeholder').load("../nav/nav.html", () => {
            navFunc()
          });
        });
      </script>

      <div class="my-page-content-container">
        <div class="my-page-side-menu-container">
          <div class="user-tier-container">
            <div id="user-tier-icon"></div>
            <div id="user-tier-name"></div>
          </div>
          <div id="my-page-nav-container"></div>
          <script>
              $(function(){
                  $("#my-page-nav-container").load("../my-page-nav/my-page-nav.html");
              });
          </script>
        </div>
          <div class="my-page-info-container">
            <div class="my-page-info">
              <div class="my-page-total-used">
                <h3>총 사용금액</h3>
                <p id="total-used"></p>
              </div>
              <div class="my-page-total-used">
                <h3>다음 등급까지</h3>
                <p id="next-grade"></p>
              </div>
            </div>

            <div class="my-page-progress-info">
              <h3>진행정보</h3>
              <hr>
              <div class="order-container">
                <div class="ongoing-order">
                  <h3>배송준비중</h3>
                  <p id="my-page-prepare-order-count"></p>
                </div>
                <div class="ongoing-order">
                  <h3>배송중</h3>
                  <p id="my-page-ship-order-count"></p>
                </div>
                <div class="ongoing-order">
                  <h3>배송완료</h3>
                  <p id="my-page-delivered-order-count"></p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!--footer-->
      <div id="footer-placeholder"></div>

      <script>
        $(function () {
          $("#footer-placeholder").load("../footer/footer.html");
        });
      </script>
    </body>
</html>
