.my-page-content-container {
    display: flex;
    width: 150vh;
    margin-top: 5vh;
    margin-left: 5vh;
}

.my-page-content-container .my-page-side-menu-container {
    width: 25%;
    margin-left: 5vh;
}
.my-page-content-container .user-tier-container {
    display: flex;
}
.my-page-content-container .user-tier-container #user-tier-name {
    margin-top: 10%;
}

.my-page-content-container .user-tier-container #user-tier-name #userInfoField {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

.my-page-content-container .user-tier-container #user-tier-name #userNameField {
    text-align: center;
    font-size: 15px;
}

#my-page-nav-container {
    margin-top: 5vh;
    width: 100%;
}

.my-page-info-container {
    margin-left: 10%;
    width: 100%;
}

.my-page-info-container .my-page-total-used {
    margin-right: 20%;
}
.my-page-info-container hr {
    background-color: black;
    width: 100%;
}

.my-page-info-container p {
    font-size: 50px;
    color: pink;
}

.my-page-info-container .my-page-info {
    margin-bottom: 100px;
    display: flex;
}

.my-page-info-container .my-page-progress-info .order-container {
    display: flex;
}

.my-page-info-container .my-page-progress-info .ongoing-order {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}
